# -*- mode: python ; coding: utf-8 -*-

block_cipher = None

a = Analysis(
    ['gestioneClienti.py'],
    pathex=['C:\\Users\\Antonio\\Desktop'],  # Specifica la directory contenente il tuo script e risorse
    binaries=[],
    datas=[
        ('C:\\Users\\Antonio\\Desktop\\icon.ico', '.'),  # Include l'icona dell'eseguibile
        ('C:\\Users\\Antonio\\Desktop\\config.txt', '.'),  # Include il file di configurazione
        ('C:\\Users\\Antonio\\Desktop\\bg.png', '.')   # Include l'immagine di sfondo
    ],
    hiddenimports=[],
    hookspath=[],
    hooksconfig={},
    runtime_hooks=[],
    excludes=[],
    noarchive=False,
    optimize=0,
)

pyz = PYZ(a.pure, a.zipped_data, cipher=block_cipher)

exe = EXE(
    pyz,
    a.scripts,
    a.binaries,
    a.datas,
    [],
    name='Gestionale Clienti',
    debug=False,
    bootloader_ignore_signals=False,
    strip=False,
    upx=True,
    upx_exclude=[],
    runtime_tmpdir=None,
    console=False,  # Imposta a False se non vuoi vedere la console
    icon='icon.ico',  # Specifica l'icona dell'eseguibile
    disable_windowed_traceback=False,
    argv_emulation=False,
    target_arch=None,
    codesign_identity=None,
    entitlements_file=None,
)